@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    color-scheme: dark;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy-bold.ttf");
}

@font-face {
    font-family: "shapiro";
    src: url("/fonts/shapiro.ttf");
}

@font-face {
    font-family: "sequel";
    src: url("/fonts/sequel.otf");
}

.space {
    font-family: "Space Grotesk", sans-serif;
}

.gilroy {
    font-family: "gilroy";
}

.shapiro {
    font-family: "shapiro";
}

.sequel {
    font-family: "sequel";
}

body,
html {
    width: 100vw;
    min-height: 100vh;
}